@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

            <!-- 🔥 Link bonito para Bike Stations -->
            <a href="stations" class="ml-4">
                Bike Stations
            </a>

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
